<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>BooksIntoApps</servlet-name>
		<servlet-class>de.dietzm.booksintoapps.BooksIntoAppsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BooksIntoApps</servlet-name>
		<url-pattern>/booksintoapps</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>UserAPI</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dietzm.booksintoapps.servicesuser</param-value>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAPI</servlet-name>
		<url-pattern>/servicesuser/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>PublicAPI</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dietzm.booksintoapps.servicespublic</param-value>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicAPI</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminAPI</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dietzm.booksintoapps.servicesadmin</param-value>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAPI</servlet-name>
		<url-pattern>/servicesadmin/*</url-pattern>
	</servlet-mapping>
	
	<!-- 
	<filter>
 		<filter-name>AuthorizationFilter</filter-name>
 		<filter-class>de.dietzm.booksintoapps.usermgmt.SecurityFilter</filter-class>
 	</filter>
 
	 <filter-mapping>
	     <filter-name>AuthorizationFilter</filter-name>
	     <url-pattern>*</url-pattern>
	</filter-mapping>
	 -->
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/servicesuser/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/servicesadmin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
		<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	        <filter-name>ObjectifyFilter</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
